* {
    margin: 0;
    padding: 0;
    box-sizing: sans-serif;
}

body {
    background: #ffffff;
    color: #000000;
}

/* Aqui empieza el estilo del header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* Aqui empieza el estilo de la barra de navegación */
.navbar {
    background-color: #0a4b74;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.navbar a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin: 0px 25px;
    transition: .6s;
}

.navbar a:hover {
    color: #5ce1e6;
}

.navbar .container-fluid {
    display: flex;
    justify-content: flex-end;
}

.navbar #logo {
    justify-content: flex-start;
    margin-left: 15px;
    opacity: 0.4;   
}

.navbar #logo:hover {
    opacity: 1;
    transition: .9s;
}

/* Aqui empieza el estilo del menú hamburguesa */
.navbar-toggler {
    background-color:#0a4b74;
    padding: 0;
}

.navbar-toggler-icon {
    background-color:transparent; 
}

/* Aqui empieza el estilo de HOME */
.home {
    background-image: url('imagenes/fondo.jpg');
    background-size: cover; /* Ajustar tamaño de la imagen de fondo */
    background-position: center; /* Centrar la imagen de fondo */
    height: 100vh;
    display: flex;
    padding: 7% 10%;
    align-items: center;
    text-align: left;
}

.home-contenido {
    max-width: 650px; 
}

.home-contenido h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}

.home-contenido h3 {
    font-size: 32px;
    font-weight: 700;
    background: linear-gradient(to right, #0a4b74, #5ce1e6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: left;
}

.home-contenido .p {
    font-size: 16px;
    margin: 20px 0 40px;
    text-align: justify;
}

/* Aqui empieza el estilo del button de contáctame */
.home-contenido .btn-busco-servicio .btn-quiero-prestar{
    display: flex;
    width: 120px;
    height: 29px;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    
}
.btn-busco-servicio a {
    position: relative;
    width: 50%;
    height: 50%;
    background: transparent;
    border: 2px solid #0a4b74;
    border-radius: 15px;
    font-size: 15px;
    color: #0a4b74;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;    
    z-index: 1;
    overflow: hidden;
    padding: 5px;

    
}
.btn-quiero-prestar a {
    position: relative;
    width: 50%;
    height: 50%;
    background: transparent;
    border: 2px solid #0a4b74;
    border-radius: 15px;
    font-size: 15px;
    color: #0a4b74;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    padding: 5px;
    
}
.btn-busco-servicio a:hover {
    color: #5ce1e6;
}
.btn-quiero-prestar a:hover{
    color: #5ce1e6;
}
.btn-busco-servicio a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0a4b74;
    z-index: -1;
    transition: .6s;
    border-radius: 13px;
}
.btn-quiero-prestar a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0a4b74;
    z-index: -1;
    transition: .6s;
    border-radius: 13px;
}
.btn-busco-servicio a:hover::before {
    width: 100%;
}
.btn-quiero-prestar a:hover::before {
    width: 100%;
}


/* Aqui empieza el estilo de categoria */
.container-categoria {
    text-align: justify;
    align-items: center;
    padding: 7% 10%;
    font-size: 1em;
}

.col-sm-4 img {  
    border-radius: 20px;
    width: 300px;
    height: 250px;
    opacity: .3;
    transition: .8s;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 20px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #b8fdff;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .card img {
      height: 11em;
    }
}

/* Aqui empieza el estilo de Únete */
.about {
    text-align: center;
    align-items: center;
    padding: 7% 10%;
}

.about p {
    text-align: justify;
}

strong {
    color:#5ce1e6;
    font-size: 1em;
}

#palabra-contactarme {
    text-decoration: none;
    color:#5ce1e6;
}

hr {
    color: #0a4b74;
}

/* Aqui empieza el estilo del button de contacto */
.btn-contacto {
    padding: 0% 3%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: left;
    width: 70px;
    height: 29px;
    background: transparent;
    border: 2px solid #0a4b74;
    border-radius: 10px;
    font-size: 15px;
    color: #0a4b74;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-contacto:hover {
    color: #5ce1e6
}

.btn-contacto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0a4b74;
    z-index: -1;
    transition: .9s;
}

.btn-contacto:hover::before {
    width: 100%;
}
/* Aqui empieza el estilo de contacto */
.container-contacto {
    text-align: left;
    align-items: center;
    padding: 10% 20%;
}

h2 {
    color: #0a4b74;
    padding: 5%;
    text-align: center;
}

::placeholder {
    font-style: italic;
}

.form-text {
    color: #0a4b74;
}

/* Aqui empieza el estilo del footer */
.container-footer {
    position: relative;
    align-items: center;
    text-align: center;
    align-items: center;
    padding: 3% 10%;
    background-color: #0a4b74;
    color: #ffffff;
}

.section-footer {
    text-align: left;
    margin-left: 100px;
}

.section-footer h5 {
    margin-left: 13px;
}

/* Aqui empieza el estilo de los logos RRSS */
.logos-footer img {
    width: 40px;
    height: 40px;
    margin: 5% 1% 3% 1%;
    opacity: .4;
    transition: .5s;
}

.logos-footer img:hover {
    opacity: 1;    
}

#arriba {
    position: relative;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    width: 40px;
    height: 40px;
    opacity: .4;
    transition: .5s;
    margin: 0;
}

#arriba:hover {
    opacity: 1;    
}

/* Estilos para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .navbar {
    padding: 10px; /* Espacio de padding reducido */
  }

  /* Estilo para la imagen de perfil en pantallas pequeñas */
  .img-perfil {
    margin: 10% auto; /* Centrar la imagen */
    width: 125px;
    height: 125px;
    max-width: 100%;
    border-radius: 50%;
    opacity: 1;
  }

  /* Estilos para el categoria en pantallas pequeñas */
  .col-sm-4 {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 20px; /* Espacio entre elementos */
  }

  /* Estilos para el formulario de contacto en pantallas pequeñas */
  .form-contacto {
    padding: 5% 5%;
  }
}

/* Estilos para pantallas medianas (768px a 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  /* Ajusta el tamaño de la fuente u otros estilos según sea necesario */
}

/* Estilos para pantallas grandes (más de 992px) */
@media (min-width: 992px) {
  /* Ajusta el tamaño de la fuente u otros estilos según sea necesario */
}

/* Estilos para el contenedor de la imagen */
.imagen-container {
    max-width: 300px; /* Define el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    overflow: hidden; /* Oculta cualquier parte de la imagen que pueda desbordar el contenedor */
}

/* Estilos para la imagen dentro del contenedor */
.imagen-container img {
    width: 100%; /* Garantiza que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Elimina el espacio adicional por debajo de la imagen */
}