/*paleta de colores*/

:root{
    --naranja: #F57811ff;
    --turquesa: #2eb4b4;
    --turquesa2: #5ce1e6;
    --azul-claro: #0a4b74;
    --azul-oscuro: #202c39ff;
    --blanco: rgb(255, 255, 255);
    --negro: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: sans-serif;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    font-size: 90%;
    box-sizing: border-box;
}   

body {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    font-family: 'Poppins', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Aqui empieza el estilo del header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/*Video principal*/

.baner{
    width: 100%;
}

.baner-video{
    position: absolute;
    width: 100%;
}


/* Aqui empieza el estilo de la barra de navegación */
.navbar {
    background-color: var(--azul-oscuro);
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;

}

.navbar a {
    font-size: 18px;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 500;
    margin: 0px 25px;
    transition: .6s;
}

.navbar a:hover {
    color: var(--turquesa2);
}

.navbar .container-fluid {
    display: flex;
    justify-content: flex-end;
}

.navbar #logo {
    justify-content: flex-start;
    margin-left: 15px; 
}

/* Aqui empieza el estilo del menú hamburguesa */

.navbar-toggler {
    background-color: var(--blanco);
    padding: 0;
}

.navbar-toggler-icon {
    background-color:transparent; 
}

/* Aqui empieza el estilo de HOME */

.home {
    height: 100vh;
    display: flex;
    padding: 10% 10%;
    align-items: center;
    text-align: left;
    position: relative;
}

.home-contenido {
    max-width: 1050px; 
    margin-top: auto;
}

.primerh1{
    font-family: Poppins;
    text-align: left;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 65px;
    color: var(--blanco);
}

.home-contenido p{
    font-size: 23px;
    letter-spacing: 1px;
    margin-bottom: 25px; 
}

h1{
    margin-bottom: 20px;
    font-family: Poppins;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    color: var(--blanco);
}

/* Aqui empieza el estilo del botones de principales de baner */
.home-contenido .btn-busco-servicio .btn-quiero-prestar{
    display: flex;
    width: 120px;
    height: 29px;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.btn-busco-servicio a {
    background-color: var(--naranja);
    position: relative;
    width: 70%;
    height: 70%;
    border: 2px solid var(--blanco);
    border-radius: 15px;
    font-size: 20px;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;    
    overflow: hidden;
    padding: 10px;
}
.btn-quiero-prestar a {
    background-color: var(--naranja);
    position: relative;
    width: 70%;
    height: 70%;
    border: 2px solid var(--blanco);
    border-radius: 15px;
    font-size: 20px;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;    
    overflow: hidden;
    padding: 10px;
}
.btn-busco-servicio a:hover {
    background-color: var(--turquesa);
    color: var(--azul-oscuro);
    border: 3px solid var(--azul-claro);
    box-shadow: 0 1px 3px 2px  var(--turquesa2);
    
}
.btn-quiero-prestar a:hover{
    background-color: var(--turquesa);
    color: var(--azul-oscuro);
    border: 3px solid var(--azul-claro);
    box-shadow: 0 1px 3px 2px  var(--turquesa2);
}

@media (max-width: 768px){
    .home-contenido{
        line-height: 1px;
    }

    .primerh1{
        font-size: 25px; 
        line-height: 40px; 
        margin-bottom: 15px;
    }
    .home-contenido p{
        font-size: 12px;
        letter-spacing: 1px; 
        margin-bottom: 35px;
    }
    .home-contenido{
        margin-top: 0%;
        margin-bottom: 65%;
    }
    .btn-busco-servicio a{
        font-size: 8px;
    }
    .btn-quiero-prestar a{
        font-size: 8px;
    }
}

/* Aqui empieza el estilo de servicios */

.container-servicios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 90px;
    margin: 0%;
}

h2 {   
    width: auto;
    text-align: center;
    color: var(--blanco); 
    font-family: Poppins; 
    font-size: 50px; 
    font-style: normal; 
    font-weight: 600; 
    line-height: normal;
}

.carts{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: var(--naranja);
    font-family: Poppins; 
    font-style: normal; 
    line-height: normal;
    text-decoration: none;
    margin-bottom: 50px;
}

.carts a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--naranja);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.cart{
    width: 250px;
    height: auto;
    flex-shrink: 0;
    border-radius: 53px;
    box-shadow: 2px 10px 8px 0 rgba(71, 61, 48, 0.76);
}

@media (max-width: 768px) {
    
    .carts{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 10px;

    }
}

/*Cuenta regresiva*/

.baner-cuenta-regresiva{
    margin-bottom: -8%;
}

.fondo-chef{
    width: 100%;
    height: 160px;
}

.proximamente{
    color: var(--azul-oscuro);
    position: absolute;
    margin-top: 20px;
    margin: 0 341px;
    font-size: 40px;
}

.contenedor{
    color: #ffffff;
    text-align: center;
}

.cartel {
    width: 30px;
    height: 30px;
    padding: 10px 0px 5px 0px;
    text-align: center;
    display: inline-block;
    margin: 0 60px;
    border: none;
    border-radius: 5px;
}

.cartel>div{
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;    
    animation: fade 3s;
    line-height: .1px;
   
}

.cartel>div>h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: normal;
}

.h3 {
    bottom: 0;
    margin: 0 auto;
}

.contenedor {
    margin-top: 2%;
}

.contenido {
    width: 80%;
    margin: 0 auto;
    border: 0px solid rgb(255, 255, 255);
    z-index: 10;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.numeros {
    height: 120px;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    transition: .3s;
    animation-name: fade;
    animation-duration: 3s;
}

.responsivo1 {
display: inline-block
}

.responsivo2 {
display: inline-block
}

@media (max-width: 450px) {  
    .contador{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .contenido{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .contenedor {
        margin-top: 15%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .banner {
        margin-bottom: 30px; 
    }
    .cartel {
        height: 99px;
        width: 99px;
    }
    .cartel>div{
        font-size: 25px;
    }
    .cartel>div>h3 {
        font-size: 15px;
        margin-top: 0px;
    }
}
@keyframes fade {
        0%   {
        opacity: 0;
    }
        30%   {
        opacity: 0;
    }  
        100% {
        opacity: 1;
    }
}

/* Aqui empieza el estilo de contacto de pagina principal*/
.container-contacto {
    text-align: left;
    align-items: center;
    padding: 2%;
}

form h3{
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.subti-form1{
    font-family: Poppins;
    font-size: 30px; 
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.form-principal-contacto{
    padding: 20px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 10%;
    color: var(--blanco);
}

#exampleFormControlTextarea1{
    width: 350px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid var(--blanco);
    color: var(--blanco);   
}

::placeholder {
    font-style: italic;
}

@media (max-width: 768px){
    #exampleFormControlTextarea1{
        width: 250px
    }
    form h3{
        text-align: center;
        font-size: 25px;
        font-weight: 800;
    }
    .subti-form1{
        font-size: 15px;
        text-align: center;
    }
}


/* Aqui empieza el estilo del button de contacto */
.btn-contacto {
    padding: 0% 3%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 29px;
    background: transparent;
    border: 2px solid var(--turquesa);
    border-radius: 10px;
    font-size: 15px;
    color: var(--turquesa);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-contacto:hover {
    color: #5ce1e6;
    background-color: var(--azul-claro);
    box-shadow: 0 2px 5px 0 rgb(54, 231, 231)
}



/* Aqui empieza el estilo del footer */
.container-footer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1% 0%;
    background-color: var(--turquesa);
    color: #ffffff;
}

/* Aqui empieza el estilo de los logos RRSS */
.logos-footer img {
    width: 30px;
    height: auto;
    opacity: .8;
    transition: .5s;
    margin: 0 15px 0 15px ;
}

.logos-footer img:hover {
    opacity: 1;    
}

#arriba {
    position: relative;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    width: 30px;
    height: auto;
    opacity: .8;
    transition: .5s;
    margin: 0;
}

#arriba:hover {
    opacity: 1;    
}

/*Aqui Formularios estilos*/

.form-contacto{
    padding: 40px;
    background: var(--azul-oscuro);
    box-sizing: border-box;
    box-shadow: 0 20px 35px 15px rgba(0,0,0,.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
    color: var(--blanco);
}

.form-contacto-prestador{
    padding: 40px;
    background: var(--naranja);
    box-sizing: border-box;
    box-shadow: 0 20px 35px 15px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
    color: var(--blanco);
}

.noCuenta{
    text-align: center;
    width: 310px;
    position: relative;
    text-decoration: none;
    color: var(--blanco);
    background-color: transparent;
    padding: 3px;
    margin: 5px;
}

.noCuenta:hover{
    color: var(--azul-oscuro);
}

.creaCuenta{
    text-align: center;
    width: 310px;
    position: relative;
    text-decoration: none;
    color: var(--blanco);
    background-color: transparent;
    padding: 3px;
    margin: 5px;

}

.creaCuenta:hover{
    color: var(--naranja);
}

input{
    border: 2px solid;
    margin: 10px;
    border-radius: 15px;
    padding: 2%;
    width: 350px;
    background: transparent;
    color: var(--blanco);
}

.desplega{
    color: var(--blanco);
    border-radius: 15px;
    width: 350px;
    padding: 1%;
    margin: 10px;
    background: transparent;
    border: 2px solid;
    border-color: var(--blanco); 
}

option{
    background-color: var(--naranja);
}

@media (max-width: 768px){
    input{
    padding: 1%;
    width: 250px;
    }

}    

/* Estilos para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .navbar {
    padding: 10px; /* Espacio de padding reducido */
  }

  /* Estilos para el formulario de contacto en pantallas pequeñas */

}

/* Estilos para pantallas medianas (768px a 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  /* Ajusta el tamaño de la fuente u otros estilos según sea necesario */
}

/* Estilos para pantallas grandes (más de 992px) */
@media (min-width: 992px) {
  /* Ajusta el tamaño de la fuente u otros estilos según sea necesario */
}

.imagen-container {
    width: 300px; /* Puedes ajustar el ancho según tus necesidades */
    height: 200px; /* Puedes ajustar la altura según tus necesidades */
    overflow: hidden;
    border: 1px solid #ccc; /* Borde opcional */
}

.imagen-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurar que la imagen cubra completamente el contenedor */
}

.muro-container {
    width: 100%;
    padding-top: 100px; /* Añade un relleno según sea necesario */
    box-sizing: border-box;
    height: auto; /* Hace que la altura se ajuste al contenido */
    align-items: center;
    justify-content: center;
}

