/* aqui main contenido general*/
.contenedor-pubicacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0% 0 10% 0;
}

/* aqui bloque izquierda perfil y botones*/

.contenedor-miperfil{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;
    height: auto;
}

.foto-prestador{
    margin-top: 100px;
    position: relative;
    margin-bottom: -11%;
}

.miperfil-prestador{
    margin-top: 50px;
    border-radius: 30px;
    border: 3px solid #F57811;
    width: 362px;
    height: 305px;
    flex-shrink: 0;
    margin: 30px 100px;
    padding-top: 30px;
}

.title-perfil{
    text-align: center;
}

.dato-prestador{
    background-color: var(--naranja);
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 275;
    line-height: normal;
}

.botones-accion{
    width: 200px;
    height: 193px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.botones-accion button{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    width: 194px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 1px solid #FFF;
    background: #1B998B;
}

.botones-accion button:hover{
    background-color: transparent;
}

/* aqui bloque derecha titulo y fomulario*/

.publicacion-servicio{
    margin-top: 130px;
    width: 700px;
    height: auto;
}

/*aqui crear oferta formulario publicar*/

.contenedor-crear-oferta{
    display: grid;
    place-items: center;
}

.titulo-publicar{
    width: 100%;
    margin-top: 130px;
    background-color: var(--naranja);
    border-radius: 0 20px 20px 0;
}

.contenido-formulario-publi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.form-publicacion{
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px;
    padding-right: 80px;
    background: var(--azul-oscuro);
    box-sizing: border-box;
    box-shadow: 0 20px 35px 15px rgba(0,0,0,.6);
    border-radius: 10px;
    display: grid;
    place-items: end;
    justify-content: center;
    color: var(--blanco);
    width: 880px;
}

.descripcion-oferta{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#precio, #categoria, #descripcion{
    border: 2px solid;
    margin: 10px;
    border-radius: 15px;
    padding: 3%;
    width: 350px;
    background: transparent;
    color: var(--blanco);
}

.form-publicacion button{
    margin-inline-end: 150px;
}   

.imagen-container{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.cuadro-vista-imagen{
    display: grid;
    place-items: center;
    margin-bottom: 5px;
}

/*aqui editar publicacion */

.cambio-imagen{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/*aqui mostrar-oferta */

.contenedor-mostrar-oferta{
    display: grid;
    place-items: center;
    margin: 100px;
}

.datos-mostrar-oferta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.titulo-oferta-mostrar{
    color: var(--blanco);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-color: var(--turquesa);
    width: 50%;
    border-radius: 12px;
    text-align: center;
}

.mostrar-mioferta{
    display: grid;
    place-items: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px;
    background: var(--azul-oscuro);
    box-sizing: border-box;
    box-shadow: 0 20px 35px 15px rgba(0,0,0,.6);
    border-radius: 10px;
    color: var(--blanco);
    width: 880px;
}

.mostrar-oferta-item{
    font-size: 20px;
    width: auto;
    text-decoration: none;
}

.mostrar-oferta-item a{
    text-decoration: none;
    color: var(--turquesa2);
}

.subtitulo-mostrar-oferta{
    font-size: 20px;
}

/* VISTA MIS PUBLICACIONES */

.tarjetas-publi-mostrar{
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 220px);
    padding: 20px;
}

@media (max-width: 640px) {
    .title-miss-publi {
        width: 70%; 
        margin-top: inherit;
        width: 310px;
        font-size: 25px;
    }
    .tarjetas-publi-mostrar{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}

.card-publicacion{
    display: grid;
    place-items: center;
    width: 178px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 10%;
    border: 3px solid var(--turquesa);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 5%;
}

.card-publicacion a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--turquesa);    
}

.card-publicacion P{
    text-align: justify;
}

.card-publicacion div, button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conten-terjetas-not{
    display: grid;
    place-items: center;
    margin-top: 10%;
}

.title-miss-publi{
    background-color: var(--naranja);
    border-radius: 20px;
    width: 50%;
}

.boton-eliminar{
    background-color: var(--naranja);
    border-radius: 5px; 
    border: 2px solid var(--blanco); 
    color: var(--blanco); width: 50%;
}
