/* aqui notificaiones hacia el prestador*/

.conten-usuario{
   display: grid;
   place-items: center;
   width: 40%;
   padding: 0%;
}

.conten-margen-usuario{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.miperfil-usuario-notificacion{
    margin-top: 50px;
    border-radius: 30px;
    border: 3px solid var(--turquesa);
    width: 230px;
    height: 305px;
    flex-shrink: 0;
    margin: 13px 4px;
    padding-top: 30px;
}

.dato-usuario{
    background-color: var(--turquesa);
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 275;
    line-height: normal;
}

.ver-notificacion{
    width: 270px;
    display: grid;
    place-items: center;
}

.title-tu-muro{
    color: var(--turquesa);
    border-radius: 25px;
    padding-inline: 4%;
}

/* Aqui inicia Efecto girar tarjeta */

.tarjetas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tarjeta {
	width: 200px;
	margin: 1rem;

	perspective: 1000px;
	transform-style: preserve-3d;
}

.tarjeta .frontal,
.tarjeta .tracero {
	height: auto;
	min-height: 280px;

	background-size: cover;
	background-position: center;

	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

	color: #fff;
	font-size: 0.5rem;
	text-align: center;

	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.tarjeta .frontal {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(https://unsplash.it/500/500/);
  background-color: #66D7D1;
  /* Posicion por defecto */
  transform: rotateY(0deg);
}
.tarjeta .tracero {
	width: 100%;
	
	background-color: #957DAD;
	
	top: 0;
	left: 0;
	position: absolute;
  /* Posicion por defecto */
	transform: rotateY(180deg);
}
/* Velocidad de trancicion */
.tarjeta:hover .frontal,
.tarjeta:hover .tracero {transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);}

/* Girar imagen */
.tarjeta:hover .frontal {transform: rotateY(-180deg);}
.tarjeta:hover .tracero {transform: rotateY(0deg);}


.tarjeta .contenido {
	width: 100%;
	position: absolute;
	
	padding: 2rem;
	box-sizing: border-box;
	
	top: 50%;
	left: 0;
	perspective: inherit;
  /* Posicion de texto central */
	transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.frontal .contenido p {
	font-size: 1rem;
	position: relative;
	margin-bottom: .5rem;
}
.frontal .contenido hr {
	width: 4rem;
	height: 1px;
	
	background: #b3d1e7;
	
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
.frontal .contenido span {color: rgba(255, 255, 255, 0.7);}

/*fin de girar tarjeta*/

/*Aqui inicia busqueda de notificaciones */

.categoria-bloq{
    border-radius: 25px;
    height: 40px;
    width: 300px;
}

#termino{
    width: 450px;
    height: 40px;
}

.search-bloq{
    width: 120px;
    height: 35px;
}

.content-busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

@media (max-width: 850px) { 
    .content-busqueda{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .categoria-busqueda{
        display: grid;
        place-items: center;
    }
    #termino{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* fin de barra busqueda */


